@use 'src/assets/styles/tools/tools' as *;

.sw-text-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 70%;
  margin: 0 auto;

  @include element("back") {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: flex-start;

    padding: 48px 0;

    @include element("icon") {
      margin-right: 16px;
    }

    @include element("text") {
      @include typo("h2");
      font-feature-settings: "case" on;
    }

    &:hover {
      color: var(--primary-dark_100);
    }
  }

  @include element("content") {
    background: var(--neutral_100);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
    width: 100%;
  }

  @include element("title") {
    color: var(--primary_100);
    @include typo("h2");
    margin-bottom: 24px;
    padding-top: 0;
    font-feature-settings: "case" on;
    text-transform: uppercase;
  }

  @include element("breadcrumb") {
    padding-bottom: 58px;
  }

  @include element("desc") {
    @include typo("h3");
    margin-bottom: 16px;
    font-feature-settings: "case" on;

    h1 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 25px;
    }

    ol {
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }

  @include modifier("mobile") {
    max-width: 100%;
    padding: 0 16px;
  }
}
