@use 'src/assets/styles/tools/tools' as *;

.sw-banner {
  height: 114px;
  width: 100%;
  color: var(--primary-dark_60);
  background-color: var(--neutral_80);
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 16px;

  //TEMP
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include typo("bodyS");


}
