:root {
  --transparent: rgba(255, 255, 255, 0);
  --primary_100: #27aae1;
  --primary_90: rgba(39, 170, 225, 0.9);
  --primary_80: rgba(39, 170, 225, 0.8);
  --primary_60: rgba(39, 170, 225, 0.6);
  --primary_40: rgba(39, 170, 225, 0.4);
  --primary_20: rgba(39, 170, 225, 0.2);
  --primary_10: rgba(39, 170, 225, 0.1);
  --primary-dark_100: #3f4655;
  --primary-dark_80: rgba(63, 70, 85, 0.8);
  --primary-dark_60: rgba(63, 70, 85, 0.6);
  --primary-dark_40: rgba(63, 70, 85, 0.4);
  --primary-dark_20: rgba(63, 70, 85, 0.2);
  --primary-dark_10: rgba(63, 70, 85, 0.1);
  --secondary_100: #eff2f6;
  --secondary_80: rgba(239, 242, 246, 0.8);
  --secondary_60: rgba(239, 242, 246, 0.6);
  --secondary_40: rgba(239, 242, 246, 0.4);
  --secondary_20: rgba(239, 242, 246, 0.2);
  --secondary_10: rgba(239, 242, 246, 0.1);
  --neutral_100: #ffffff;
  --neutral_90: rgba(255, 255, 255, 0.9);
  --neutral_80: rgba(255, 255, 255, 0.8);
  --neutral_60: rgba(255, 255, 255, 0.6);
  --neutral_40: rgba(255, 255, 255, 0.4);
  --neutral_20: rgba(255, 255, 255, 0.2);
  --neutral_10: rgba(255, 255, 255, 0.1);
  --processing_100: #ff9900;
  --processing_80: rgba(255, 153, 0, 0.8);
  --processing_60: rgba(255, 153, 0, 0.6);
  --processing_40: rgba(255, 153, 0, 0.4);
  --processing_20: rgba(255, 153, 0, 0.2);
  --processing_10: rgba(255, 153, 0, 0.1);
  --error_100: #ff003d;
  --error_80: rgba(255, 0, 61, 0.8);
  --error_60: rgba(255, 0, 61, 0.6);
  --error_40: rgba(255, 0, 61, 0.4);
  --error_20: rgba(255, 0, 61, 0.2);
  --error_10: rgba(255, 0, 61, 0.1);
  --success_100: #00d22e;
  --success_80: rgba(0, 210, 46, 0.8);
  --success_60: rgba(0, 210, 46, 0.6);
  --success_40: rgba(0, 210, 46, 0.4);
  --success_20: rgba(0, 210, 46, 0.2);
  --success_10: rgba(0, 210, 46, 0.1);
}