<div class="sw-reset-password__title"><span>{{ 'Login.RESET__PASSWORD' | translate }}</span>
    <div class="sw-reset-password__title__counter"
        *ngIf="counter !== 30 && passwordResetActiveStep === PASSWORD_RRESET_STEPS.GET_CODE">
        {{ counter }}
    </div>
</div>

<!-- 571 357 117 -->

<form class="sw-reset-password__form" [formGroup]="passwordResetForm" #localForm="ngForm" (ngSubmit)="onSubmit()">

    <ng-container *ngIf="passwordResetActiveStep === PASSWORD_RRESET_STEPS.GET_CODE">
        <div class="sw-reset-password__form__item sw-reset-password__form__item--desktop">
            <sw-input [name]="'phone'" swRightIconInput [size]="'medium'" [type]="'title-in'"
                [placeholderDraft]="'555 555 555'" [labelText]="'Registration.PHONE_NUMBER' | translate"
                [inputType]="'tel'" [showErrors]="localForm.submitted" [required]="true" [mask]="'000 000 000'"
                formControlName="phone_number">
                <sw-button righticon swSecondaryButton [size]="'size-40'" (clickAction)="getVerificationCode()"
                    [disabled]="waitingForCode">
                    {{ 'Registration.SEND_CODE' | translate }}
                </sw-button>
            </sw-input>

        </div>

        <div class="sw-reset-password__form__item sw-reset-password__form__item--desktop">
            <sw-input [size]="'medium'" [type]="'title-in'" [placeholderDraft]="'1234'"
                [labelText]="'Registration.SMS_CODE' | translate" [inputType]="'number'"
                [showErrors]="localForm.submitted" formControlName="sms_validation">
            </sw-input>
        </div>

    </ng-container>

    <ng-container *ngIf="passwordResetActiveStep === PASSWORD_RRESET_STEPS.SET_NEW_PASSWORD">

        <div class="sw-reset-password__user">
            <div class="sw-reset-password__user__title">
                {{ 'Registration.USER' | translate }}
            </div>

            <div class="sw-reset-password__user__value">
                {{ user.name }}
            </div>
        </div>


        <div class="sw-reset-password__form__item sw-reset-password__form__item--desktop">
            <sw-input [name]="'password'" [size]="'medium'" [type]="'title-in'" [placeholderDraft]="'*******'"
                [labelText]="'Registration.NEW_PASSWORD' | translate" [inputType]="'password'" [required]="true"
                formControlName="password">
            </sw-input>
        </div>

        <div class="sw-reset-password__form__item sw-reset-password__form__item--desktop">
            <sw-input [name]="'password'" [size]="'medium'" [type]="'title-in'" [placeholderDraft]="'*******'"
                [labelText]="'Registration.REPEAT_NEW_PASSWORD' | translate" [inputType]="'password'" [required]="true"
                formControlName="password_confirmation">
            </sw-input>
        </div>

    </ng-container>


    <button class="sw-reset-password__form__send" type="submit">
        <sw-button swPrimaryButton swRightIconButton [size]="'size-56'" [disabled]="!passwordResetForm.valid">
            {{ 'Registration.NEXT' | translate }}

            <sw-icon righticon [iconName]="'next-arrow-icon'" [iconSize]="'size-12'"></sw-icon>
        </sw-button>
    </button>

</form>

<div class="sw-reset-password__loader" *ngIf="isLoadingResults">
    <div class="sw-reset-password__loader__spinner"></div>
</div>