@use 'src/assets/styles/tools/tools' as *;

.sw-specialist-details {
  overflow: hidden;

  @include element("content") {
    display: flex;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 96px;

    @include modifier("mobile") {
      flex-direction: column;
      padding: 16px;
      padding-bottom: 0;
      margin-bottom: 64px;
    }
  }

  @include element("info") {
    display: flex;
    width: 60%;

    @include element("image") {
      background: #EFFAFF;
      border-radius: 8px;
      position: relative;
      width: 100%;
      height: 100%;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }

      @include part("empty") {
        color: var(--primary-dark_100);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include part("wrapper") {
        padding: 16px;
        background: var(--neutral_100);
        border-radius: 16px;
        width: 398px;
        height: 260px;
        margin-right: 16px;
        flex-shrink: 0;

        @include modifier("mobile") {
          margin-right: 0;
          margin-bottom: 16px;
          width: 100%;
          height: 345px;
        }

        &:not(.sw-specialist-details__info__image-wrapper--mobile) {
          @include responsiver("small") {
            width: 300px;
          }
        }
      }
    }

    @include element("other") {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      overflow: hidden;
    }

    @include element("title") {
      color: var(--primary-dark_100);
      @include typo("h3-bold");
      font-feature-settings: "case" on;

      @include part("loader") {
        height: 22px;
        width: 107px;
        background: var(--neutral_100);
        margin-bottom: 2px;
        position: relative;
        overflow: hidden;

        @include loaderGrey();
      }
    }

    @include element("categories") {
      color: var(--primary-dark_60);
      @include typo("bodyS");
      margin-bottom: 16px;

      height: 40px;
      overflow: hidden;

      @include part("loader") {
        height: 20px;
        width: 207px;
        background: var(--neutral_100);
        margin-bottom: 16px;
        position: relative;
        overflow: hidden;

        @include loaderGrey();
      }
    }

    @include element("badges") {
      display: flex;
      align-items: center;
    }

    //Review Badge
    @include element("review") {
      display: flex;
      align-items: center;
      margin-right: 32px;

      @include part("icon") {
        color: var(--processing_100);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 2px solid var(--processing_100);
        background: var(--processing_10);
        border-radius: 8px;
        margin-right: 16px;
        flex-shrink: 0;
      }

      @include part("percentage") {
        color: var(--processing_100);
        @include typo("body-bold");
      }

      @include part("count") {
        color: var(--primary-dark_100);
        @include typo("h4");
      }
    }

    //Serwish Quality Badge
    @include element("serwish") {
      display: flex;
      align-items: center;

      @include part("icon") {
        color: var(--primary_100);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 2px solid var(--primary_100);
        background: var(--primary_10);
        border-radius: 8px;
        margin-right: 16px;
        flex-shrink: 0;
      }

      @include part("title") {
        color: var(--primary_100);
        @include typo("body-bold");
      }

      @include part("count") {
        color: var(--primary-dark_100);
        @include typo("h4");
      }
    }

    @include element("phone") {
      cursor: pointer;
      display: flex;
      align-items: center;
      background: var(--neutral_100);
      border: 2px solid var(--primary_100);
      border-radius: 12px;
      height: 56px;

      width: 224px;
      position: relative;
      transition: opacity 200ms ease-in;
      margin-top: 24px;

      @include part("content") {
        color: var(--primary_100);
        @include typo("body-bold");
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        min-width: 0;
        padding-left: 24px;
        padding-right: 22px;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
        }
      }

      @include part("toggle") {
        color: var(--primary_100);
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        opacity: 0.8;
      }

      @include modifier("mobile") {
        position: fixed;
        background: var(--neutral_100);
        margin: 16px;
        margin-bottom: 75px;
        bottom: env(safe-area-inset-bottom);
        left: 0;
        right: 0;
        z-index: 99;
        width: auto;
      }
    }

    @include modifier("mobile") {
      flex-direction: column;
      width: 100%;
      margin-bottom: 64px;
    }
  }

  @include element("review") {
    width: 40%;
    transform: translateX(121px);

    @include element("title") {
      color: var(--primary-dark_100);
      @include typo("h3");
      font-feature-settings: "case" on;
      margin-bottom: 16px;

      span {
        color: var(--primary_100);
        @include typo("h3-bold");
      }
    }

    @include element("slider") {
      @include element("item") {
        height: 220px;
        width: 536px;
        background: var(--neutral_100);
        border-radius: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;

        &:not(.sw-specialist-details__review__slider__item--mobile) {
          @include responsiver("large") {
            width: 410px;
          }
        }

        @include modifier("mobile") {
          width: 320px;
        }
      }

      &:not(.sw-specialist-details__review__slider--mobile) {
        .swiper-slide {
          width: 536px !important;

          @include responsiver("large") {
            width: 410px !important;
          }
        }
      }

      .swiper {
        border-radius: 16px;
      }

      .swiper-slide {
        opacity: 0.4;
        transition: opacity 200ms ease-out;

        @include part("active") {
          opacity: 1;
        }
      }
    }

    @include element("item") {
      @include element("header") {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
      }

      @include element("user") {
        @include part("image") {
          width: 48px;
          height: 48px;
          margin-right: 16px;
          background: #EFFAFF;
          border-radius: 12px;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            border-radius: 12px;
            width: 32px;
            height: 32px;
            object-fit: cover;
          }
        }

        @include part("other") {
        }

        @include part("name") {
          color: var(--primary-dark_100);
          @include typo("bodyS-bold");
        }

        @include part("date") {
          color: var(--primary-dark_60);
          @include typo("bodyS");
        }
      }

      @include element("content") {
        color: var(--primary-dark_100);
        @include typo("bodyS");
        height: 100%;
        word-break: break-word;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      @include element("footer") {
        color: var(--primary-dark_100);
        @include typo("bodyS");
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @include element("status") {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        border-radius: 10px;

        @include modifier("like") {
          color: var(--success_100);
          border: 2px solid var(--success_100);
          background: var(--success_20);
        }

        @include modifier("dislike") {
          color: var(--error_100);
          border: 2px solid var(--error_100);
          background: var(--error_20);

          transform: rotate(180deg);
        }
      }

      @include element("quote") {
        width: 31px;
        height: 24px;
        background-image: url("../../../../assets/img/quote.png");
        background-size: 100%;
        background-position: center;
      }
    }

    @include modifier("mobile") {
      width: 100%;
      transform: none;

      .swiper-slide {
        width: 320px !important;
      }
    }
  }

  @include element("services") {
    @include element("title") {
      color: var(--primary-dark_100);
      @include typo("h3-bold");
      font-feature-settings: "case" on;
      margin-bottom: 16px;
    }

    @include element("filters") {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      @include element("item") {
        cursor: pointer;
        color: var(--primary-dark_60);
        @include typo("bodyS");
        margin-right: 32px;

        @include modifier("active") {
          color: var(--primary-dark_100);
        }

        &:hover {
          color: var(--primary-dark_80);
        }
      }
    }

    @include element("content") {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: 16px;
      grid-row-gap: 16px;

      @include modifier("mobile") {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
      }
    }

    @include element("empty") {
      height: 302px;
      background: var(--neutral_40);
      border-radius: 12px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      @include element("icon") {
        margin-bottom: 32px;
      }

      @include element("title") {
        @include typo("h3-bold");
        color: var(--primary-dark_100);
        margin-bottom: 8px;
      }

      @include element("desc") {
        @include typo("bodyS");
        color: var(--primary-dark_60);
        width: 227px;
        text-align: center;
      }
    }

    @include modifier("mobile") {
      padding: 0 16px;
    }
  }
}
